Welcome to User Management.com, <%= @user.first_name %>
===============================================
 
You have successfully created an account,
your username is: <%= @user.email %>.
 
To confirm your email, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day!