<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to User Management.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up for an account,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To confirm your email address, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>