<% provide(:title, "Home") %>
<!-- Simple Dashboard - START -->
<%= render 'shared/dash_menu' %>

<script type="text/javascript">
$(document).ready(function(){
    //set event listener for a click on the advanced searcg link
    document.getElementById('advanced-search-field-trigger').addEventListener('click',function(e){
        e.preventDefault();
        var node = document.getElementById('advanced-search-field');
        //check if the field is already displayed
        if (node.getAttribute('hidden') !== null) {
            node.removeAttribute('hidden');
            e.target.textContent = 'Hide Advanced Search'
        } else {
            node.setAttribute('hidden', 'hidden');
            e.target.textContent = 'Show Advanced Search'
        }
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    document.getElementById('autos').addEventListener('keyup',Lib.AutoSuggest.handle);
    document.getElementById('autos').addEventListener('keydown',Lib.AutoSuggest.handle);
    document.getElementById('autos').addEventListener('blur',Lib.AutoSuggest.handle);

    //create the dropdown container
    Lib.AutoSuggest.createDropdown(document.getElementById('autos'));
});
</script>

<!--main-->
<div class="container" id="main">

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <p class="pull-right lead">Search Users</p>
      </div> 
      <div class="col-sm-4">
      <form method="GET" action="/admin/findusers">
        <div class="input-group">
          <input type="text" name="q" id="autos" class="form-control" placeholder="Search users" autocomplete="off"></input>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
      </div>
      <div class="col-sm-4">
        <p class=""><a href="#" id="advanced-search-field-trigger">Show Advanced Search</a></p>
      </div>
    </div>
    <div class="col-md-12 col-sm-6" hidden="" style="padding-bottom: 20px;" id="advanced-search-field">
      <form role="form" action="/admin/findusers" method="GET">
        <div class="col-md-2 col-sm-3">
          <select name="role" class="form-control">
            <option value="">--User role--</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-3">
          <select name="status" class="form-control">
            <option value="">--Account status--</option>
            <option value="activated">Activated</option>
            <option value="inactivated">Inactive</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-3">
          <input type="text" name="startdate" class="form-control" placeholder="Start date"></input>
        </div>
        <div class="col-md-2 col-sm-3">
          <input type="text" class="form-control" name="enddate" placeholder="End date"></input>
        </div>
        <div class="col-md-2">
          <select name="rows" class="form-control">
            <option value="">--rows per page--</option>
            <option value="5">5</option>
            <option value="5">10</option>
            <option value="5">20</option>
            <option value="5">30</option>
            <option value="5">40</option>
            <option value="5">50</option>
          </select>
        </div>
        <div class="col-md-1 col-sm-2">
          <button type="submit" class="btn btn-primary">Go!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="padding-bottom: 20px;">
    <div class="col-md-12 col-xs-6"> 
      <div class="col-md-2 pull-left">
        <!-- split button -->
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Action</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Select All</a></li>
            <li><a href="#">Deselect All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Activate</a></li>
            <li><a href="#">Archive</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>       
      </div>
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default" type="button"><i class="text-primary">First</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">Next&raquo;</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">&laquo;Prev</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">Last</i></button>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <form method="GET" action="/admin/findusers" role="form">
        <div class="input-group">
          <span class="input-group-addon">1/1</span>
          <input name="page" type="number" class="form-control" placeholder="Go to page"></input> 
          <span class="input-group-btn"><button class="btn btn-primary">Go!</button></span> 
        </div>      
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <table class="table table-striped table-bordered table-condensed table-hover table-responsive">

      <thead>
      <th><input class="" type="checkbox"></input>
      </th>
      <th>Name</th><th>Email</th><th>Role</th><th>Status</th><th>Date Joined</th><th>View</th><th>Delete</th>
      </thead>
      <tbody>

      <% if @users.count == 0 %>
        <p class="alert alert-info">There are no registered users yet!</p>
      <% else %>

        <% @users.each do |user| %>
          <% if user.id == session[:user_id] %>
          <% else %>
            <td><input type="checkbox" class=""></input></td>
            <td>
            <% imagen = user.try(:gravatar) %>
            <% if imagen != nil %>
              <img width="40px" src="<%= image_url(imagen.image) %>" class="img img-responsive">
            <% else %>
              <img width="40px" src="" class="img img-responsive">
            <% end %>
              <%= user.first_name %> <%= user.last_name%> 
            </td>
            <td> <%= user.email %> </td>

            <% if user.role == 'user' %>

            <td><a href="/admin/setuser/admin/<%= user.id %>"><span class="btn btn-info ">Make Admin</span></a></td>

            <% else %>

            <td><a href="/admin/setuser/user/<%= user.id %>"><span class="btn btn-success ">Make User</span></a></td>

            <% end %>

            <% if user.activated == true %>

            <td><a href="/admin/setuser/inactive/<%= user.id %>"><span class="btn btn-success ">De-Activate</span></a></td>

            <% else %>

            <td><a href="/admin/setuser/active/<%= user.id %>"><span class="btn btn-info">Activate</span></a></td>

            <% end %>

            <td><%= distance_of_time_in_words(Time.now, user.created_at) %></td>
            <td><a href="/admin/viewuser/<%= user.id %>"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td> <a href="/admin/setuser/delete/<%= user.id %>" class="btn "><i class="glyphicon glyphicon-trash"></i></a> </td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
    </table>
    </div>
  </div>
  <div class="row" style="padding-bottom: 20px;">
    <div class="col-md-12 col-xs-6"> 
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default" type="button"><i class="text-primary">First</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">Next&raquo;</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">&laquo;Prev</i></button>
          <button class="btn btn-default" type="button"><i class="text-primary">Last</i></button>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <form method="GET" action="/admin/findusers" role="form">
        <div class="input-group">
          <span class="input-group-addon">1/1</span>
          <input name="page" type="number" class="form-control" placeholder="Go to page"></input> 
          <span class="input-group-btn"><button class="btn btn-primary">Go!</button></span> 
        </div>      
        </form>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/users_footer' %>
