<% provide(:title, "Home") %>
<!-- Simple Dashboard - START -->
<%= render 'shared/dash_menu' %>

<!--main-->
<div class="container" id="main">

    <div class="row">
   <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><a href="/admin/online" class="pull-right"><span class="label label-success"><%= @online %> </span> Online Users</a><h4>Registered Users</h4></div>
            <div class="panel-body">

          <table class="table table-hover table-stripped">

            <thead>
              <th>Name</th><th>Email</th><th>Role</th><th>Status</th><th>Date Created</th><th>Delete</th>

            </thead>

          <tbody>

          <% if @users.count == 0 %>

            <p class="alert alert-info">There are no registered users yet!</p>


          <% else %>

              <% @users.each do |user| %>
                <% if user.id == session[:user_id] %>
                <% else %>
                      <td>
                      <% imagen = user.try(:gravatar) %>
                      <% if imagen != nil %>
                        <img width="40px" src="<%= image_url(imagen.image) %>" class="img img-responsive">
                      <% else %>
                        <img width="40px" src="" class="img img-responsive">
                      <% end %>
                        <%= user.first_name %> <%= user.last_name%> 
                      </td>
                      <td> <%= user.email %> </td>

                        <% if user.role == 'user' %>

                         <td><a href="/admin/setuser/admin/<%= user.id %>"><span class="label label-info ">Make Admin</span></a></td>

                        <% else %>

                         <td><a href="/admin/setuser/user/<%= user.id %>"><span class="label label-success ">Make User</span></a></td>

                        <% end %>

                        <% if user.activated == true %>

                         <td><a href="/admin/setuser/inactive/<%= user.id %>"><span class="label label-success ">De-Activate</span></a></td>

                        <% else %>

                         <td><a href="/admin/setuser/active/<%= user.id %>"><span class="label label-info ">Activate</span></a></td>

                        <% end %>

                      <td> <%= user.created_at %></td>
                      <td> <a href="/admin/setuser/delete/<%= user.id %>" class="btn "><i class="fa fa-lg fa-trash btn btn-primary"></i></a> </td>
                    </tr>



                <% end %>

              <% end %>
            <% end %>

          </tbody>

          </table>

        
        </div>
        
      </div>

    </div>
    </div>

</div>

<%= render 'shared/users_footer' %>
