<% provide(:title, "Home") %>
<%= render 'shared/dash_menu' %>
<!-- Simple Dashboard - START -->

<!--main-->
<div class="container" id="main">

    <div class="row">

        <div class="col-md-12 col-sm-12">

            <div class="col-lg-6">
              <div class="col-sm-6">
                <% image = @user.try(:gravatar) %>
                <% if image != nil %>
                    <img src="<%= image_url(image.image) %>" class="img img-responsive img-rounded" width="200">
                <% else %>
                    <img src="" class="img img-responsive img-rounded" width="200">
                <% end %>      
              </div>
              <div class="col-sm-6">
                <p class="lead">Basic Information</p>
                <hr>
                <p><%= @user.first_name %> <%= @user.last_name %></p>
                <p><%= @user.email %></p>
                <p>Date of Birth: <%= @user.dob %></p>               
              </div>
            </div>
            <div class="col-lg-6">
                <p class="lead">Physical Address</p>
                <hr/>
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <p>Postal Address</p>
                        <p>Postal Code</p>
                        <p>City</p>
                    </div>
                    <div class="col-lg-8">
                        <p><%= @user.p_address %></p>
                        <p><%= @user.p_code %></p>
                        <p><%= @user.city %></p>
                    </div>    
                </div>
                <p></p>
                <hr>

                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <p>Home Phone</p>
                        <p>Work Phone</p>
                    </div>
                    <div class="col-lg-8">
                        <p><%= @user.h_phone %></p>
                        <p><%= @user.w_phone %></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="lead text-info">Recent online activity</p>
        <table class="table table-bordered table-striped table-hover table-responsive table-condensed ">
          <thead>
            <th>Time in</th><th>Ip address</th><th>County</th><th>State</th><th>City</th>
          </thead>
          <% if !@logs.nil? && @logs.count > 0 %>
            <% @logs.each do |log| %>
              <tr>
                <td><%= distance_of_time_in_words(Time.now, log.time_in) %></td><td><%= log.ip_address %></td><td><%= log.country %></td><td><%= log.state %></td><td><%= log.city %></td>
              </tr>
            <% end %>
          <% else %>
            <p class="alert alert-danger">This user has not been online recently</p>
          <% end %>
        </table>
      </div>
    </div>

</div>

<%= render 'shared/users_footer' %>
