<% provide(:title, "Home") %>
<%= render 'shared/dash_menu' %>
<!--main-->
<div class="container" id="main">

    <div class="row">

        <div class="col-md-12 col-sm-12">
        <%= render 'shared/messages' %>

            <div class="col-lg-6">
                <img src="<%= image_url(session[:gravatar]) %>" class="img img-responsive img-rounded" width="200">
                Change Profile Picture
                <%= form_for @user do |f| %>
                	<%= f.file_field :gravatar %>
                	<input type="hidden" name="case" value="gravatar">
                	<%= f.submit 'Upload', class: 'btn btn-primary' %> 
                <% end %>
                <hr />

                <div class="col-lg-6">
                <%= form_for @user, url: {action: "update"}, method: "post" do |f| %>

                	<input type="hidden" name="case" value="profile"></input>
                	<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
                	<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
                	<%= f.text_field :dob, class: "form-control", placeholder: "Date of Birth" %>
                	<p></p>
                	<p></p>
                	<%= f.submit "Update", class: "btn btn-primary" %>

                <% end %>
                	
                </div>

            </div>
            <div class="col-lg-6">
                <p>Physical Address</p>
                <hr/>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    <%= form_for @user, url: {action: "update"}, method: "post" do |f| %>
                	<input type="hidden" name="case" value="details"></input>

                    <%= f.text_field :p_address, placeholder: "Postal Address", class: "form-control" %>
                    <%= f.text_field :p_code, placeholder: "Postal Code", class: "form-control" %>
                    <%= f.text_field :city, placeholder: "City", class: "form-control" %>

                    <p></p>
                    <p></p>

                    <%= f.text_field :h_phone, placeholder: "Home Phone", class: "form-control" %>
                    <%= f.text_field :w_phone, placeholder: "Work Phone", class: "form-control" %>

                    <p></p>
                    <p></p>
                    <%= f.submit "Update", class: "btn btn-primary" %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<%= render 'shared/users_footer' %>
