<% provide(:title, "Login") %>
<%= render 'shared/app_main_navigation' %>


<script type="text/javascript">
$(document).ready(function(){

  //set event listener for the submit button click
  document.getElementById('form-submit-button').addEventListener("click", Lib.FormHelper.stopDoubleSubmit);

});
</script>
<!-- begin login form -->
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="min-height: 100px;"></div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'shared/messages' %>
    </div>
    <p></p><p></p>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="">Application Login</h2>
        </div> 
        <div class="panel-body">
          <p class="lead">Enter your username and password to login</p>
          <p></p><p></p>
          <%= form_for @user, url: {action: "login"}, role: "form", method: "post", id: "login-form", class: "form-horizontal" do |form| %>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <%= form.email_field :email, placeholder: "Email address", class: "form-control", required: "required" %>
            </div>
            <p></p>
            <p></p>
            <div class="input-group">
              <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
              <%= form.password_field :password, placeholder: "Password", class: "form-control", required: "required" %>
            </div>
            <p></p>
            <p></p>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember">Remember me</input>
              </label>
            </div>
            <p></p><p></p>
            <button class="col-sm-12 btn btn-primary btn-lg" id="form-submit-button" type="submit">Sign In!</button>
            <p></p><p></p>
            <p class="text-center"><a href="/users/forgotpassword">Forgot your password?</a> or <a href="/users/new">Create an account</a></p>
          <% end %>
        </div>               
      </div>  
    </div>
  </div>
</div>
<!-- end login form -->
<%= render 'shared/app_main_footer' %>