<% provide(:title, "Sign Up") %>
<%= render 'shared/app_main_navigation' %>

<script type="text/javascript">
$(document).ready(function(){
  //url to the check email link
  checkEmailLink = "<%= "#{request.protocol}#{request.host_with_port}/users/checkemail" %>";
  //set the event listener for input change
  document.getElementById('email').addEventListener('change', Lib.FormHelper.checkEmail);
  //set event listener for the submit button click
  document.getElementById('form-submit-button').addEventListener("click", Lib.FormHelper.stopDoubleSubmit);

  //disable the spacebar during password entry
  document.getElementById('password').addEventListener('keypress', Lib.DOMHelper.noSpaces);
  document.getElementById('confirm-password').addEventListener('keypress', Lib.DOMHelper.noSpaces);

  //check to ensure both passwords are identical
  document.getElementById('confirm-password').addEventListener('keyup', Lib.FormHelper.comparePasswords);

  //add the password strength check
  document.getElementById('password').addEventListener('keyup', Lib.FormHelper.passwordStrength);
});
</script>
<div class="container"> 
  <div class="row">
    <div class="col-sm-12" style="min-height: 100px;"></div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= render 'shared/messages' %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Application Registration</h2>
      </div>
      <div class="panel-body">
          <%= form_for @user, action: {method: "create"}, method: "post", id: "signup-form", role: "form" do |form|%>
          <p class="lead">Fill the form below to create an acccount. </p>

          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= form.text_field :first_name, placeholder: "First Name", class: "form-control", required: "required" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          </div>
          <p></p><p></p>

          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control", required: "required" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          </div>  
          <p></p> 
          <p id="unique-email-verify"></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <%= form.email_field :email, placeholder: "Email address", class: "form-control", id: "email", required: "required" %>
            <span class="input-group-btn"><button id="email-verified" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i></button></span>
          </div>
          <p></p><p></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= form.password_field :password, placeholder: "Your password", class: "form-control", id: "password", required: "required" %>
            <span class="input-group-btn"><button id="password-strength" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i></button></span>
          </div>
          <p></p>
          <p id="password-error"></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= form.password_field :password_confirm, placeholder: "Confirm password", class: "form-control", id: "confirm-password", required: "required" %>
            <span class="input-group-btn"><button id="password-verified" class="btn btn-default"><i class="glyphicon glyphicon-ok-circle"></i></button></span>
          </div> 
          <p></p><p></p>
          <br>
          <input type="submit" id="form-submit-button" class="btn btn-primary btn-lg col-sm-12" value="Sign Up!"></input>
          <% end %>
          <br>
          <p class="text-center">Have an account? <a href="/users/login">Login here</a></p>
      </div>
                
      </div>
    </div>
  </div>
</div>
<%= render 'shared/app_main_footer' %>
