<% provide(:title, "Home") %>
<%= render 'shared/dash_menu' %>
<!-- Simple Dashboard - START -->

<!--main-->
<div class="container" id="main">

    <div class="row">

        <div class="col-md-12 col-sm-12">

            <div class="col-lg-6">
                <img src="<%= image_url(session[:gravatar]) %>" class="img img-responsive img-rounded" width="200">
                <hr />
                <p><%= @user.first_name %> <%= @user.last_name %></p>
                <p><%= @user.email %></p>
                <p>Date of Birth: <%= @user.dob %></p>
            </div>
            <div class="col-lg-6">
                <p>Physical Address</p>
                <hr/>
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <p>Postal Address</p>
                        <p>Postal Code</p>
                        <p>City</p>
                    </div>
                    <div class="col-lg-8">
                        <p><%= @user.p_address %></p>
                        <p><%= @user.p_code %></p>
                        <p><%= @user.city %></p>
                    </div>    
                </div>
                <p></p>
                <hr>

                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <p>Home Phone</p>
                        <p>Work Phone</p>
                    </div>
                    <div class="col-lg-8">
                        <p><%= @user.h_phone %></p>
                        <p><%= @user.w_phone %></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<%= render 'shared/users_footer' %>
