<% provide(:title, "Sign Up") %>
<%= render 'shared/login_header' %>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong> Registration Successful!</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-3 phone">
                    	</div>
                        <div class="col-sm-6 form-box alert alert-success">
                        You Successfully Signed up for an account. Please check the link in your email to activate your account. or <code><a href="/users/login">Login</a></code> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


