<!-- Begin Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">User Management</a>
    </div> 
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class=""><a href="/app/blog">Blog</a></li>
        <li class=""><a href="/app/clients">Clients</a></li>
        <li class=""><a href="/app/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="http://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="http://plus.google.com" target="_blank">Google+</a></li>
            <li><a href="http://linkedin.com" target="_blank">LinkedIn</a></li>
          </ul>
        </li>
        <li class="pull-right"><a href="/users/login">Login</a></li>
        <li class=""><a href="/users/new">Create an Account</a></li>
      </ul>
    </div>   
  </nav>
<!-- end navigation -->
