<!-- begin footer -->
<div class="ftr">
  <div class="container">
    <div class="row">
      <footer>
        <div class="pull-left ft_space">
          <address>
            <h3>User Management Inc.</h3>
            200 Trafalgar Road<br>
            Oakville, ON M6L 6Y9<br>
            <a href="mailto: first.last@moveme.com">hello@usermanagement.example</a><br>
            <abbr title="Phone">P:</abbr>966 123-4567
          </address>
        </div>
        <div class="pull-right ft_space">
          <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive">
          <p>&copy; User Management Inc. 2016</p>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- end footer -->