
<!-- Begin Navigation -->
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/users" class="navbar-brand">Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/show"><i class="glyphicon glyphicon-user"></i></a></li>
      <li><a href="/users/settings"><i class="glyphicon glyphicon-cog"></i></a></li>
      <li><a href="/users/logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><img src="<%= image_path(session[:gravatar]) %>" class="img img-responsive img-rounded" width="40"></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", "/users/show" %> </li>
          <li><%= link_to "Edit Profile", "/users/edit" %></li>
          <li><%= link_to "Change Password", "/users/cpassword" %></li>
          <li><%= link_to "Settings", "/users/settings" %></li>

          <li ><%= link_to "Logout", "/users/logout" %></li>
        </ul>
      </li>    
    </ul>
    <% if session[:role] == 'admin' %>
    <ul class="nav navbar-nav navbar-left"> 
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/logs">Logs</a></li>
      <li><a href="/admin/settings">Settings</a></li>
    </ul>
    <% end %>
  </div>
</nav>
<div style="min-height: 100px; width: 100%;"></div>
