      <div class="">
        <% flash.each do |message_type, message_body| %>
          <div class="col-sm-12">
          <p class="alert alert-<%= message_type %>"><i class="glyphicon glyphicon-info-sign"></i> <%= message_body %></p>
          </div>
        <% end %>
      </div>

