<% provide(:title, "Home Page") %>

<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive tpad">
      </div>
      <div class="col-xs-9">
        <h1>MOVE ME <span class="text-muted">&raquo; Blog</span></h1>
        <p class="lead">The latest developments, updates and work of the MoveMe team.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Intro Text -->
<div class="container padded">
  <div class="row">
    <div class="col-sm-8 blog">
      <section>
        <h1><a href="#">Enhancing Existing Features</a></h1>
        <p class="lead"><a href="index.html">Infinite Skills</a></p>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on Oct 28, 2013 at 11:00 AM</p>
        <hr>
        <img src="<%= image_path("static/blog1.jpg") %>" class="img-responsive">
        <hr>
        <p>Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.</p>
        <a href="#" class="btn btn-primary">Read More &raquo;</a>
        <hr>
      </section>
      <section>
        <h1><a href="#">Speed Mode Boosted</a></h1>
        <p class="lead"><a href="index.html">Infinite Skills</a></p>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on Oct 28, 2013 at 11:00 AM</p>
        <hr>
        <img src="<%= image_path("static/blog2.jpg") %>" class="img-responsive">
        <hr>
        <p>Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.</p>
        <a href="#" class="btn btn-primary">Read More &raquo;</a>
        <hr>
      </section>
      <section>
        <h1><a href="#">Safe Mode Reaches Public Beta</a></h1>
        <p class="lead"><a href="index.html">Infinite Skills</a></p>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on Oct 28, 2013 at 11:00 AM</p>
        <hr>
        <img src="<%= image_path("static/blog3.jpg") %>" class="img-responsive">
        <hr>
        <p>Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.</p>
        <a href="#" class="btn btn-primary">Read More &raquo;</a>
        <hr>
      </section>
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-sm-4 sidebar">
      <section>
        <h3 class="tpad">Search</h3>
        <div class="input-group input-group-lg tpad">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
          <input type="text" class="form-control input-lg" placeholder="Search"></input>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </section>
      <section>
        <h1 class="tpad">Tags</h1>
        <div class="list-group tpad">
          <a href="#" class="list-group-item active"><span class="badge">38</span>All tags</a>
          <a href="#" class="list-group-item"><span class="badge">14</span>Speed</a>
          <a href="#" class="list-group-item"><span class="badge">9</span>Eco</a>
          <a href="#" class="list-group-item"><span class="badge">7</span>Scenic</a>
          <a href="#" class="list-group-item"><span class="badge">5</span>Safe</a>
          <a href="#" class="list-group-item"><span class="badge">27</span>New Additions</a>
        </div>
        <hr>
      </section>
      <section>
        <h3 class="tpad">Lastest from Twitter</h3>
        <div class="media tpad">
          <a href="#" class="pull-left">
            <img src="<%= image_path("static/user.jpg") %>" class="media-object" alt="user">
          </a>
          <div class="media-body">
            <h4 class="media-heading">@Jimmy</h4>
            <p class="bpad">Can't believe how awesome this @moveme app is, just took 20 minutes off my commute with #SpeedMode! </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- End of Page Content -->
<div class="marketing">