<% provide(:title, "Home Page") %>

<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive tpad">
      </div>
      <div class="col-xs-9">
        <h1>MOVE ME <span class="text-muted">&raquo; Clients</span></h1>
        <p class="lead">We work with some of the biggest companies in the world, take a look for yourself.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Intro Text -->
<div class="container padded">
  <div class="row">
    <div class="col-lg-12">
      <h2>Our Clients</h2>
      <hr>
      <p>Many corporate clients use us to make their employees to navigate in their daily work lives, business meetings and clients meetups, find out what we can do for you.</p>
    </div>
  </div>
  <div class="row tpad myTooltip">
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client One" class="thumbnail">
        <img src="<%= image_path("static/client-logo1.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Two" class="thumbnail">
        <img src="<%= image_path("static/client-logo2.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Three" class="thumbnail">
        <img src="<%= image_path("static/client-logo3.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Four" class="thumbnail">
        <img src="<%= image_path("static/client-logo4.png") %>" alt="logo">
      </a>
    </div>    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Five" class="thumbnail">
        <img src="<%= image_path("static/client-logo5.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Six" class="thumbnail">
        <img src="<%= image_path("static/client-logo6.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Seven" class="thumbnail">
        <img src="<%= image_path("static/client-logo7.png") %>" alt="logo">
      </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
      <a href="#" data-toggle="tooltip" title data-original-title="Client Eight" class="thumbnail">
        <img src="<%= image_path("static/client-logo8.png") %>" alt="logo">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#collapseOne" class="accordian-toggle" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-briefcase"></span> Corporate Clients</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies
            </div>
          </div>
        </div>        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#collapseTwo" class="accordian-toggle" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-barcode"></span> Commercial Clients</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies
            </div>
          </div>
        </div>        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#collapseThree" class="accordian-toggle" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-phone"></span> App Store Customers</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Page Content -->
<div class="marketing">