<% provide(:title, "Home Page") %>

<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive tpad">
      </div>
      <div class="col-xs-9">
        <h1>MOVE ME <span class="text-muted">&raquo; Contact Us</span></h1>
        <p class="lead">We work with some of the biggest companies in the world, have a look for yourself.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Intro Text -->
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.5884130738214!2d-86.45636884943092!3d42.11628495835253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8810c663f6886659%3A0x806a0ab16dac496e!2s6th+St%2C+Benton+Harbor%2C+MI+49022%2C+USA!5e0!3m2!1sen!2sca!4v1465998360951" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<!--  end of the  map -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Get in touch</h2>
      <hr>
      <p>Need a quote, enquiry about our team creating your App or have a suggestion for the <strong>Move Me</strong> App, we need to hear from you.</p>
      <form class="form-horizontal tpad" role="form">
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" id="email" placeholder="Email"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-lg-2 control-label">Message</label>
          <div class="col-lg-10">
            <textarea rows="6" class="form-control" id="message" placeholder="Message..."></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <a href="#myModal" data-toggle="modal" class="btn btn-default btn-lg">Send</a>
          </div>
        </div>
      </form>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" arialabelledby="myModalLabel" ari-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Thank you for submitting.</h3>
          </div>
          <div class="modal-body">
            <p>We appreciate you getting in touch. Please be patient. We will contact you shortly with a reply.</p>
          </div>
          <div class="modal-footer">
            <a href="index.html" class="btn btn-default btn-lg">OK</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="<%= image_path("static/office.jpg") %>" class="img-circle img-responsive">
      <hr>
      <address>
        <h3>MoveMe Inc.</h3>
        200 Trafalgar Road<br>
        Oakville, ON M6L 6Y9<br>
        <a href="mailto: first.last@moveme.com">hello@moveme.com</a><br>
      </address>
    </div>
  </div>
</div>
<!-- End of Page Content -->
