<% provide(:title, "Home Page") %>

<!-- begin carousel -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= image_path("static/slide1.jpg") %>">
      <div class="container active">
        <div class="carousel-caption">
          <h1>User Management</h1>
          <p>Manage all your app users all from the comfort of your phone or tablet. No need to sit by your computer all day to get work done.</p>
          <p><a href="/users/new" class="btn btn-lg btn-primary">Sign up today</a></p>
        </div>
      </div>
    </div>    <div class="item">
      <img src="<%= image_path("static/slide2.jpg") %>">
      <div class="container active">
        <div class="carousel-caption">
          <h1>Responsive Design</h1>
          <p>With the varying number of mobile devices available getting consistent views across different screen size can be a piece of work. Sit back and relax. We got you convered. User management app is fully responsive</p>
          <p><a href="/users/login" class="btn btn-lg btn-primary">Login to your account</a></p>
        </div>
      </div>
    </div>    <div class="item">
      <img src="<%= image_path("static/slide3.jpg") %>">
      <div class="container active">
        <div class="carousel-caption">
          <h1>User Data Security</h1>
          <p>We implement the latest data integrity and security algorithms. Your users no longer have to work about the safety of the information they send over to your server. Everything is encrypted.</p>
          <p><a href="#" class="btn btn-lg btn-primary">Read more..</a></p>
        </div>
      </div>
    </div>
  </div>
  <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
<!-- End Carousel -->
<div class="intro-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive tpad">
      </div>
      <div class="col-xs-9">
        <h1>User Management <span class="text-muted">&raquo; Your Data Integrity toolkit</span></h1>
        <p class="lead">User Management is an application deisigned for all apps that involve user authentication and authorization. With our application your software can detect any abuse or DOS attack and act on it while you are in your sleep.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of Intro Text -->
<div class="container padded">
  <div class="row"> 
    <div class="col-lg-12"><h2>FOUR NODES</h2><hr></div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img src="<%= image_path("static/speed.jpg") %>" class="img-circle img-responsive">
      <h3>Speed</h3>
      <p>Código aberto. Canonical não fornece atualizações para Gtranslator PO File Editor. Algumas atualizações podem ser prestadas pela comunidade Ubuntu.</p>
      <p><a href="#" class="btn btn-default">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="<%= image_path("static/eco.jpg") %>" class="img-circle img-responsive">
      <h3>Eco Friendly</h3>
      <p>Código aberto. Canonical não fornece atualizações para Gtranslator PO File Editor. Algumas atualizações podem ser prestadas pela comunidade Ubuntu.</p>
      <p><a href="#" class="btn btn-default">View details &raquo;</a></p>
    </div>
    <div class="clearfix hidden-md hidden-lg"></div>
    <div class="col-sm-6 col-md-3">
      <img src="<%= image_path("static/scenic.jpg") %>" class="img-circle img-responsive">
      <h3>Scenic</h3>
      <p>Código aberto. Canonical não fornece atualizações para Gtranslator PO File Editor. Algumas atualizações podem ser prestadas pela comunidade Ubuntu.</p>
      <p><a href="#" class="btn btn-default">View details &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-md-3">
      <img src="<%= image_path("static/safety.jpg") %>" class="img-circle img-responsive">
      <h3>Safety</h3>
      <p>Código aberto. Canonical não fornece atualizações para Gtranslator PO File Editor. Algumas atualizações podem ser prestadas pela comunidade Ubuntu.</p>
      <p><a href="#" class="btn btn-default">View details &raquo;</a></p>
    </div>
  </div>
</div>
<!-- End of Page Content -->

<script type="text/javascript">
$(function(){
  $('.carousel').carousel({
    interval: 4000
  });
    alert("Here");

});  
</script>