/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
A custom Bootstrap 3.2 'Google Plus style' theme
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.carousel-caption{
	z-index: 10;
}
.carousel-inner > .item > img{
	position: absolute;
	top: 50px;
	left: 0;
	min-width: 100%;
	height: auto;
}
.carousel-inner > .item{
	height: 500px;
}
.intro-block {
	background: url(/assets/static/purpalt.png) repeat;
	padding: 100px 15px 60px;
	color: #fff;
}
.text-muted{
	color: #e9e6df;
	font-weight: 100;
}
.tpad{
	padding-top: 20px;
}
.padded{
	padding: 100px 15px;
}
.marketing{
	background-color: #e9e6df;
}
hr{
	border-top: 1px solid #c9c9c9;
}
.info{
	background: #ffa753 url(/assets/static/skyline.png) repeat-x bottom;
	padding: 80px 0;
}
.info small {
	color: #eeefe9;
}
.info a{
	color: #fff;
}
.info a:hover{
	color: #333;
}
.tab-pane{
	padding: 40px 10px 0px 10px;
}
.ftr{
	background: url(/assets/static/shattered.png) repeat;
	padding: 80px 0 60px 0px;
}
.ftr address, .ftr a, .ftr p{
	color: #fff;
}
.ft_space{
	padding: 0 10px;
}
.blog h1 a{ color: #4b8575; }
.blog p a{ color: #ed7337; }
.sidebar{
	background-color: #e9e6df;
}
.bpad{ margin-bottom: 30px; }
.map{
	height: 350px;
}


@media(min-width: 768px){
	.carousel-inner > .item{
		height: 700px;
	}
	.map{
		height: 500px;
	}
}
