div.suggestions {
    padding-bottom: 8px;
  	background-color: #ffffff;
  	border-radius: 3px;
    border: 1px solid #dddddd;
    position: absolute;
}
div.suggestions div {
    cursor: default;
    padding: 0px 3px;
  	font-size: 16.099999999999998px;
  	font-weight: 200;
  	line-height: 1.4;
}
div.suggestions div.current {
    background-color: #428bca;
    color: white;
}