<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= get_title(yield(:title)) %></title>

	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	 <%= csrf_meta_tags %>
	 <%= render 'shared/shim' %>
  
<!-- Begin Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">User Management</a>
    </div> 
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class=""><a href="/app/blog">Blog</a></li>
        <li class=""><a href="/app/clients">Clients</a></li>
        <li class=""><a href="/app/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="http://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="http://plus.google.com" target="_blank">Google+</a></li>
            <li><a href="http://linkedin.com" target="_blank">LinkedIn</a></li>
          </ul>
        </li>
        <li class="pull-right"><a href="/users/login">Login</a></li>
        <li class=""><a href="/users/new">Create an Account</a></li>
      </ul>
    </div>   
  </nav>
<!-- end navigation -->


</head>
<body>

<%= yield %>


<div class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="<%= image_path("static/app.png") %>" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <h3 class="tpad">ALWAYS ON HAND</h3><hr>
        <p>Download the app for your device now and try it yourself. No matter how regularly you make a journey, this app will completely change the way you travel.</p>
        <p><a href="#" class="btn btn-large btn-primary">Get it now</a></p>
      </div>
    </div>
  </div>
</div> 
<!-- End Marketing Section-->
<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 tabbable">
        <!-- Tabs go here -->
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#android">Android</a></li>
          <li class=""><a data-toggle="tab" href="#ios">iOS</a></li>
          <li class=""><a data-toggle="tab" href="#bb">Blackberry</a></li>
          <li class=""><a data-toggle="tab" href="#win">Windows</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="android">
            <p><img src="<%= image_path("static/gplay.jpg") %>" alt="google" class="pull-right">Android...This app has completely revolutionized the way we travel, we will never have to wait around in the rain for transport.<br> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
          </div>
          <div class="tab-pane fade in" id="bb">
            <p><img src="<%= image_path("static/bbstore.jpg") %>" alt="google" class="pull-right">Blackberry...This app has completely revolutionized the way we travel, we will never have to wait around in the rain for transport.<br> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
          </div>
          <div class="tab-pane fade in" id="ios">
            <p><img src="<%= image_path("static/appstore.jpg") %>" alt="google" class="pull-right">iOS...This app has completely revolutionized the way we travel, we will never have to wait around in the rain for transport.<br> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
          </div>
          <div class="tab-pane fade in" id="win">
            <p><img src="<%= image_path("static/winstore.jpg") %>" alt="google" class="pull-right">Windows...This app has completely revolutionized the way we travel, we will never have to wait around in the rain for transport.<br> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <!-- Quote goes here -->
        <blockquote>
          <p>
            &ldquo;This app has completely revolutionized the way we travel, we will never have to wait around in the rain for transport, we can time our day perfectly. I don't know how I ever lived without it.&rdquo;
          </p>
          <small>Jame T. Kirk, <cite title="source file">Starship Enterprise</cite> </small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<!-- info panel end -->
<!-- begin footer -->
<div class="ftr">
  <div class="container">
    <div class="row">
      <footer>
        <div class="pull-left ft_space">
          <address>
            <h3>User Management Inc.</h3>
            200 Trafalgar Road<br>
            Oakville, ON M6L 6Y9<br>
            <a href="mailto: first.last@moveme.com">hello@usermanagement.example</a><br>
            <abbr title="Phone">P:</abbr>966 123-4567
          </address>
        </div>
        <div class="pull-right ft_space">
          <img src="<%= image_path("static/moveMe.png") %>" class="img-responsive">
          <p>&copy; User Management Inc. 2016</p>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- end footer -->

</body>
</html>
